@use "partials/reset.scss" as *;
@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

body {
   font-family: 'Montserrat', sans-serif;
   // font-family: 'Space Mono', monospace;
   // font-family: 'Roboto Mono', monospace;
    
}
.d-flex {
   display: flex;
   align-items: center;
}
.mx-2 {
   margin:0 2rem 
}
.text-align-end {
   text-align: end;
}