/* // here's all animations 💞 */

.goRight {
  animation: goRight 1s ease-in-out forwards;
  
};

@keyframes goRight {

  // 0% {
  //   translate: ;
  // }

  100% {
   transform: translate(-100vw0) ;
  }
};

.goCenter {
  animation: goCenterFromRight 1s ease-in-out forwards;
}

@keyframes goCenter {
 //ho bisogno di sapere dove sono;
   0% {
    translate: v-bind(orizontalOffset);
  }

    100% {
        translate: 0 0;
    }
}

.animationUp {
  animation: animationUp 1s ease-in-out forwards;
}

@keyframes animationUp {
  100% {
    translate: 0 -80vh;
  }
}

.animationFade {
  animation: animationFade 1s ease-in-out forwards;
}

@keyframes animationFade {
  100% {
    opacity: 0%;
  }
}

// no dinamic animation 
.goCenterfromRight {
  animation: goCenterFromRight 1s ease-in-out forwards;
}

@keyframes goCenterfromRight {
 //ho bisogno di sapere dove sono;
   0% {
    translate:-100vw 0;
  }

    100% {
        translate: 0 0;
    }
}