/* // here's all animations 💞 */

.goUp {
  animation: goUp 0.4s ease-out forwards;
}

@keyframes goUp {
  100% {
    translate: 0 100svh;
  }
};
.goDown {
  animation: goDown 0.4s ease-out forwards;
}

@keyframes goDown {
  100% {
    translate: 0 -100svh;
  }
};

// -------------------------------------
.goRight {
  animation: goRight 0.4s ease-out forwards;
}

@keyframes goRight {

  100% {
    translate: -100vw 0;
  }
};

.goLeft {
  animation: goLeft 0.4s ease-out forwards;
}

@keyframes goLeft {
  100% {
    translate: 100vw 0;
  }
};
// -------------------------------------------
.goCenterfromRight {
  animation: goCenterfromRight 0.4s ease-out forwards;
}

@keyframes goCenterfromRight {
  0% {
    translate: -100vw 0;
  }

  100% {
    translate: 0 0
  }
};

.goCenterfromLeft {
  animation: goCenterfromLeft 0.4s ease-out forwards;
}

@keyframes goCenterfromLeft {
  0% {
    translate: 100vw 0;
  }

  100% {
    translate: 0 0
  }
};
.goCenterfromUp {
  animation: goCenterfromUp 0.4s ease-out forwards;
}

@keyframes goCenterfromUp {
  0% {
    translate: 0 100svh;
  }

  100% {
    translate: 0 0
  }
};
.goCenterfromDown {
  animation: goCenterfromDown 0.4s ease-out forwards;
}

@keyframes goCenterfromDown {
  0% {
    translate: 0 -100svh;
  }

  100% {
    translate: 0 0
  }
}
// -------------------------------------

.pulse {
 -webkit-animation: pulse 3s infinite ease-in-out;
    -o-animation: pulse 3s infinite ease-in-out;
    -ms-animation: pulse 3s infinite ease-in-out; 
    -moz-animation: pulse 3s infinite ease-in-out; 
    animation: pulse 3s infinite ease-in-out;
}
@keyframes pulse {
    0% { transform: scale(0.9); opacity: 0.3; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0.3; }
}
@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(0.9); opacity: 0.3; }
    50% { -webkit-transform: scale(1); opacity: 1; }
    100% { -webkit-transform: scale(0.9); opacity: 0.3; }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}